* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9CC19D;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #755632;
    border-radius: 25px;
}

h1 {
    font-family: 'Dokdo', system-ui;
    font-size: 6rem;
    color: #F3DF75;
}


.menu {
    background-image: url(./assets/podium.png);
    background-size: 60px;
    background-position-y: center;
    background-position-x:center ;
    background-repeat: no-repeat;
    border: none;
    border-radius: 15px;
    background-color: #738D3A;
    height: 80px;
    width: 80px;
    transition-duration: 0.4s;
}

.menu:hover {
    background-color: #4D4640;
}

main {
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;

}

input {
    border: none;
}

.pseudoInput {
    font-family: 'Dokdo', system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D9D9D9;
    color: #DE6B6B;
    border-radius: 20px;
    width: 50%;
    height: 60px;
    font-size: 38px;
}

.submitPseudo {
    background-image: url(./assets/tick.png);
    background-size: 80px;
    background-position-y: center;
    background-position-x:center ;
    background-repeat: no-repeat;
    border: none;
    font-family: 'Dokdo', system-ui;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transition-duration: 0.4s;
    background-color: #738D3A;
}

.submitPseudo:hover {
    background-color: #4D4640;
}


.score {
    font-family: 'Dokdo', system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: #DE6B6B;
    border-radius: 20px;
    width: 20%;
    height: 60px;
    font-size: 38px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameArea {
    background-color: #69A66B;
    height: 500px;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
}

.containerMole {
    height: 33%;
    width: 33%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.moleBurrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130%;
    width: 130%;
    z-index: 3;
    pointer-events: none;
}

.mole {
    display: none;
    width: 130%;
    height: 130%;
    margin-left: -215px;
    z-index: 2;
}

.playable {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.startButton {
    font-size: 32px;
    border: none;
    font-family: 'Dokdo', system-ui;
    text-transform: uppercase;
    background-color: #51D856;
    border-radius: 50%;
    padding: 30px;
    transition-duration: 0.4s;
}

.startButton:hover {
    background-color: #4D4640;
}

.resetButton {
    font-size: 32px;
    border: none;
    font-family: 'Dokdo', system-ui;
    text-transform: uppercase;
    background-color: #C12222;
    border-radius: 50%;
    padding: 30px;
    transition-duration: 0.4s;
}

.resetButton:hover {
    background-color: #4D4640;
}

.timer {
    font-family: 'Dokdo', system-ui;
    font-size: 38px;
    display: flex;
    color: #DE6B6B;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 80px;
    width: 150px;
}

/**//**//**//**//**//**//**//**//*RESPONSIVE*//**//**//**//**//**//**//**/

@media only screen and (min-width: 481px) {
    h1 {
        font-size: 4rem;
    }
    h2, .pseudo, .score {
        font-size: 2rem;
    }
    .titlePositionLeaderBoard, .titlePseudoLeaderBoard, .titleScoreLeaderBoard {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 678px) {
    h1 {
        font-size: 6rem;
    }
    h2, .pseudo, .score {
        font-size: 2.8rem;
    }
    .titlePositionLeaderBoard, .titlePseudoLeaderBoard, .titleScoreLeaderBoard {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 8rem;
    }
    h2, .pseudo, .score {
        font-size: 3.5rem;
    }
    .titlePositionLeaderBoard, .titlePseudoLeaderBoard, .titleScoreLeaderBoard {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1280px) {
    h1 {
        font-size: 9rem;
    }
    h2, .pseudo, .score {
        font-size: 4rem;
    }
    .titlePositionLeaderBoard, .titlePseudoLeaderBoard, .titleScoreLeaderBoard {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 10rem;
    }
    h2, .pseudo, .score {
        font-size: 4.5rem;
    }
    .titlePositionLeaderBoard, .titlePseudoLeaderBoard, .titleScoreLeaderBoard {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 1920px) {
    h1 {
        font-size: 11rem;
    }
    h2, .pseudo, .score {
        font-size: 5rem;
    }
    .titlePositionLeaderBoard, .titlePseudoLeaderBoard, .titleScoreLeaderBoard {
        font-size: 4.5rem;
    }
}
